*.egg-info
*.mo
*.pyc
.DS_Store
_build/
/.installed.cfg
/.mr.developer.cfg
/.python-version
/README.html
/build/
/coverage/
/develop-eggs/
/dist/
/eggs/
/include/
/lib/
/parts/
/requirements.txt
/src/
/var/
